header {
    background-color : #eee ;
}
  
#wrap {
    display : flex ;
    margin : 20px 0px ;
    flex-direction : row ;
}
  
.left, .right, .realright {
    height : 200px ;
    flex : auto ;
}
  
.left {
    width : 17% ;
    margin-right : 3% ;
    background-color : #0cd ;
}
  
.right {
    width : 60% ;
    text-align : center ;
    background-color : #0de ;
}
  
.right > h1 {
    position : relative ;
}
  
.emoticon {
    position : absolute ;
    top : 0px ;
    right : 5% ;
    color : #fff ;
}
  
ul li {
    list-style : none ;
}
  
.realright {
    width : 17% ;
    margin-left : 3% ;
    background-color : #0ef ;
}
  
footer {
    background-color : #eee ;
}