.bl {
    width : 100px ;
    height : 50px ;
}

.il {
    display : inline ;
}

.bl-il {
    display : inline-block ;
    width : 100px ;
    height : 50px ;
}

.L {
    background-color : lime ;
}

.G {
    background-color : green ;
}

.Y {
    background-color : yellow ;
}