.wrap {
  width: 664px;
}

.wrap header {
  height: 70px;
  background-color: #059074;
}

.global-nav-bar {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;
}

.global-nav-bar__content {
  width: 100px;
  height: 30px;
  text-align: center;
  border-right: 1px solid #ddd;
}

/* .global-nav-bar__content:hover {
  background-color: #3cdebe;
} */

/* .global-nav-bar__content--selected {
  background-color: #3cdebe;
} */

.wrap main {
  display: flex;
}

main .left-nav-bar {
  width: 25%;
  height: 300px;
  background-color: #f3f3f3;
}

.wrap main article {
  width: 75%;
}

.wrap footer {
  height: 40px;
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
}
